@media screen and (max-width: 685px) {
  h1 {
    color: #ff0000;
  }
  .deck .card {
  	margin: 10px;
  }
}

@media screen and (min-width: 686px) {
  h1 {
    color: #0000ff;
  }
  .deck {
  	width: 660px;
  }
}